{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block html_class %}no-js{% endblock %}

{% block title %}{{ shop_name }} - {{ shop_tagline }}{% endblock %}

{% block favicon %}
    <link rel="shortcut icon" href="{% static "oscar/favicon.ico" %}" />
{% endblock %}

{% block tracking %}
    {# Default to using Google analytics #}
    {% include "oscar/partials/google_analytics.html" %}
{% endblock %}

{% block body_id %}default{% endblock %}
{% block body_class %}default{% endblock %}
