{% extends 'base/base.html' %}

{% load bootstrap4 %}


{% block content %}
    <h1 class="mt-1">Авторизация (vasya-promprog)</h1>
    <hr>

    <div class="row">
        <div class="col-4 offset-4">
            <form action="" method="POST">
                {% csrf_token %}

                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary float-right btn-block">Войти</button>
                    <a class="btn btn-outline-primary text-center float-right btn-block" href="{% url 'user.password.reset' %}" role="button">Забыли пароль?</a>

                    <input type="hidden" name="next" value="{{ next }}" />
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}

