{% extends 'base.html' %}


{% block content %}
    <h1>Проверка сайта на вредоносность</h1>
    <span width="0">Просто введите в поле ниже все ссылки на сайты, которые вы бы хотели проверить на вредоносность. Здесь работает защита Safe Browsing Яндекс ежедневно проверяет миллионы URL и обнаруживает тысячи небезопасных веб-ресурсов, многие из которых создавались отнюдь не злоумышленниками, но потом были взломаны. Для таких сайтов мы показываем предупреждения в результатах поиска или в браузере. Вы можете проверить, опасно ли посещать тот или иной сайт.</span>
    <hr>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="f_textBox" class="input checking-page__input" placeholder="Проверка по URL" value="">
        <input type="submit">
        {% if site_safety == 2 %}
            <h3>❌❌❌Сайт не безопасен!❌❌❌</h3>
        {% elif site_safety == 1 %}
            <h3>✔✔✔Сайт безопасен!✔✔✔</h3>
        {% elif site_safety == 3 %}
            <h3>Сервер временно не доступен...</h3>
        {% endif %}

        {% if description != "" %}
            <h6>Описание: {{ description }}</h6>
        {% endif %}
    </form>
{% endblock %}
