<!DOCTYPE html>
<html lang="ru">

    {% load bootstrap4 %}

    <head>
        <meta charset="UTF-8">
        <title>{{ pagename }} – Мульти-МАРКЕТ</title>

        {% bootstrap_css %}
        <link href="https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/sticky-footer-navbar.css"
              rel="stylesheet">
        <head>
            <script src="https://api-maps.yandex.ru/2.1/?apikey=a4f87bfa-49ea-423d-8727-02a713d3c955&lang=ru_RU" type="text/javascript">
            </script>
        </head>
        {% block extra_css %} {% endblock %}
    </head>


    <body>
        <header>
            {% include 'navbar.html' %}
        </header>

        <main role="main" class="container mt-3">
            {% bootstrap_messages %}
            {% block content %} {% endblock %}
        </main>

        <footer class="footer">
            {% block footer %}
                <div class="container text-right">
                    <span class="text-muted">&copy; подгруппа web группы ms104 promprog ШП 2019-20, {% now "Y" %}</span>
                </div>
            {% endblock %}
        </footer>

        {% block extra_js %}
            {% bootstrap_javascript jquery='full' %}
        {% endblock %}
    </body>

</html>