<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
    <nav class="uk-navbar-container" uk-navbar="dropbar: true;" style="position: relative; z-index: 9999980;">
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="#">Мульти-МАРКЕТ</a>
        </div>
        <!--        Блок поиска-->
        {% include "oscar/partials/search.html" %}
        <!--Конец блока поиска-->
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="">
                        <img src="/static/img/cart.png" style="height: 45px" style="vertical-align: bottom" alt="">
                        <span class="uk-badge" style="margin-top: -60%">0</span>
                    </a>
                </li>
                <li>
                    <hr class="uk-divider-vertical">
                </li>
                <li>
                    <a class="uk-navbar-toggle" type="button" uk-toggle="target: #offcanvas-flip">
                        <!--                            <span class="uk-margin-small-right">Меню пользователя</span> -->
                        <img src="/static/img/user.png" alt="Avatar" class="avatar uk-margin-small-right card">
                        <span uk-navbar-toggle-icon></span>
                    </a>

                    <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
                        <div class="uk-offcanvas-bar slider-right" style="text-align: center">

                            <button class="uk-offcanvas-close" type="button" uk-close></button>
                            {% if request.user.is_authenticated %}
                            <h2>{{user}}</h2>
                            <div class="uk-button uk-button-secondary"
                                 style="background-color: #3058ff; color: white; width: 270px"><a href="/oscar/accounts/logout">Выйти
                            </a>
                            </div>

                            {% else %}
                            <h2>Войдите</h2>
                            <!--                                Форма авторизации-->
                            <form id="login_form" action="/oscar/accounts/login/" style="text-align: left; margin: auto" method="post">
                                {% csrf_token %}
                                <div class="uk-margin">
                                    <div class="uk-inline">
                                        <label class="uk-form-label">E-mail</label>
                                        <input class="uk-input" type="email" name="login-username" id="id_login-username" placeholder="Логин..." style="width: 300px">
                                    </div>
                                </div>

                                <div class="uk-margin">
                                    <div class="uk-inline">
                                        <label class="uk-form-label">Пароль</label>
                                        <input class="uk-input" id="id_login-password" name="login-password" placeholder="Пароль..." style="width: 300px"
                                               type="password">
                                    </div>
                                </div>
                                <input type="hidden" name="login-redirect_url" id="id_login-redirect_url">
                                <a href="{% url 'password-reset' %}"><div class="uk-button uk-button-secondary" style="font-size: 11px">Забыли пароль?</div></a>
                                <input type="submit" class="uk-button uk-button-secondary" value="Войти"
                                     style="background-color: #3058ff; color: white" name="login_submit">
                            </form>
                            <!--                                    Конец-->
                            <hr class="">
                            <div class="uk-button uk-button-secondary"
                                 style="background-color: #3058ff; color: white; width: 270px">Зарегистрироваться
                            </div>


                            {% endif %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<form>

</form>
<script src="https://use.fontawesome.com/850c66bc1f.js"></script>

<script src="/static/js/uikit.js"></script>
<script src="/static/js/uikit.min.js"></script>