<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Мульти-МАРКЕТ</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul class="navbar-nav mr-auto">
            {% block navbar %}
                {% for item in navbar %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url item.url_name %}">{{ item.name }}</a>
                    </li>
                {% endfor %}
            {% endblock %}
        </ul>

        <ul class="navbar-nav mr-1">
            {% block right_navbar %}
                <li class="nav-item">
                    {% for item in right_navbar %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url item.url_name %}">{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </li>
            {% endblock %}
        </ul>
    </div>
</nav>
