<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'ru-ru' }}">
    <head>
        <title>Ошибка сервера!</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="robots" content="NOARCHIVE,NOCACHE" />
    </head>

    <body>
        <h1>Ошибка сервера!</h1>
        <p>Нам очень жаль, но что-то пошло не так, и мы не смогли сгенерировать страницу, которую вы запросили..</p>
        <p>Этот инцидент был зарегистрирован и будет рассмотрен инженером в кратчайшие сроки..</p>
        <p>
            <a onclick="javascript:history.go(-1);">Вернуться на предыдущую страницу</a><br>
            <a href="{{ homepage_url }}">Перейти на главную страницу</a>
        </p>

    </body>
</html>
