<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'ru-ru' }}" class="{% block html_class %}no-js{% endblock %}">

    {% load static %}


    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ pagename }} – Мульти-МАРКЕТ{% endblock %}</title>
            <!-- Uikit -->
        <link rel="stylesheet" href="{% static '/css/uikit-rtl.css' %}">
        <link rel="stylesheet" href="{% static '/css/uikit-rtl.min.css' %}">
        <link rel="stylesheet" href="{% static '/css/uikit.css' %}">
        <link rel="stylesheet" href="{% static '/css/uikit.min.css' %}">
        <link rel="stylesheet" href="{% static '/css/style.css' %}">

            <!-- Bootstrap3 -->
        <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static '/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static '/css/bootstrap-theme.css' %}">
        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="created" content="{% now 'jS M Y h:i' %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="viewport" content="{% block viewport %}width=device-width{% endblock %}" />
        <meta name="robots" content="NOARCHIVE,NOCACHE" />

        {% block favicon %}
            <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
        {% endblock %}


        {# Additional CSS - specific to certain pages #}
        {% block extrastyles %}{% endblock %}

        {# Additional head tags - specific to certain pages #}
        {% block extrahead %}{% endblock %}

        {# tracking tags. Needed by OSCAR #}
        {% block tracking %}{% endblock %}
    </head>

    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">

        <header>
            {% include 'navbar.html' %}
        </header>

        <main role="main" class="container mt-3">

            {% block layout %}{% endblock %} {# content block for OSCAR. Don't use in on other pages! #}
            {% block content %}{% endblock %}

        </main>

        <footer class="footer">
            {% block footer %}
                <div class="container text-right">
                    <span class="text-muted">&copy; подгруппа web группы ms104 promprog ШП 2019-20, {% now "Y" %}</span>
                </div>
            {% endblock %}
        </footer>


        {% block base_js  %}
            {% block cdn_scripts %}
                <!-- UIKit -->
<!--                <script src="{% static '/js/uikit-icons.js' %}"></script>-->
                <script src="{% static '/js/uikit-icons.min.js' %}"></script>
                <!-- jQuery -->
                <script src="{% static '/js/jquery.min.js' %}"></script>
                <!-- bootstrap -->
                <script src="{% static '/js/bootstrap.min.js' %}"></script>
            {% endblock %}
        {% endblock %}

        {# Local scripts #}
        {% block scripts %}{% endblock %}

        {# Block for body onload functions #}
        <script>
            $(function() {
                {% block onbodyload %}{% endblock %}
            });
        </script>

        {% block extra_js %}
            {# Additional JS scripts (OSCAR only) #}
        {% endblock %}
        {% block extrascripts %}{% endblock %}
        {% block extra_js_navbar %}{% endblock %}
    </body>
</html>