<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
    <nav class="uk-navbar-container" uk-navbar="dropbar: true;" style="position: relative; z-index: 9999980;">
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="{{ homepage_url }}">Мульти-МАРКЕТ</a>
        </div>
        <!--        Блок поиска-->
        {% include "oscar/partials/search.html" %}
        <!--Конец блока поиска-->
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li>
                    <a  class="uk-button uk-button-default" href="#modal-bask"  uk-toggle>
                        <img src="/static/img/cart.png" style="height: 45px" style="vertical-align: bottom" alt="">
                        <span class="uk-badge" style="margin-top: -60%">{{ request.basket.all_lines|length}} </span>
                    </a>
                </li>

                <div id="modal-bask" uk-modal>
                    <div class="uk-modal-dialog">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <div class="uk-modal-header">
                            <h2 class="uk-modal-title">Корзина</h2>
                        </div>
                            {% include "oscar/basket/partials/basket_quick.html" %}
                    </div>
                </div>





                <li>
                    <hr class="uk-divider-vertical">
                </li>
                <li>
                    <a class="uk-navbar-toggle" type="button" uk-toggle="target: #offcanvas-flip">
                        <!--                            <span class="uk-margin-small-right">Меню пользователя</span> -->
                        <img src="/static/img/user.png" alt="Avatar" class="avatar uk-margin-small-right card">
                        <span uk-navbar-toggle-icon></span>
                    </a>

                    <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
                        <div class="uk-offcanvas-bar slider-right" style="text-align: center">

                            <button class="uk-offcanvas-close" type="button" uk-close></button>
                            {% if request.user.is_authenticated %}
                            <h2>{{user}}</h2>
                            <p><em>{{ user.get_full_name|default:request.user.email }}</em></p>
                            <div class="uk-button uk-button-secondary"
                                 style="background-color: #3058ff; color: white; width: 270px"><a
                                    href="{% url 'customer:notifications-inbox' %}">Мой профиль
                            </a>
                            </div>

                            {% if user.is_staff or perms.partner.dashboard_access %}

                            <div class="uk-button uk-button-secondary uk-margin"
                                 style="background-color: #3058ff; color: white; width: 270px"><a
                                    href="{% url 'dashboard:index' %}">Админка
                            </a>

                            </div>
                            {% else %}
                                {% for market in markets %}
                                    {% if market.owner == user %}
                                        <div class="uk-button uk-button-secondary uk-margin"
                                 style="background-color: #3058ff; color: white; width: 270px"><a
                                    href="{% url 'dashboard:index' %}">Админка
                            </a>

                            </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <a href="/ya/safety" style="margin-top: 15px;">
                                <div class="uk-button uk-button-secondary"
                                     style="background-color: #3058ff; color: white; width: 270px">Проверить ссылку на безопасность
                                </div>
                            </a>
                            <div class="uk-button uk-button-secondary"
                                 style="background-color: #3058ff; color: white; width: 270px; margin-top: 15px;"><a
                                    href="{% url 'customer:logout' %}">Выйти
                            </a>
                            </div>

                            {% else %}
                            <h2>Войдите</h2>
                            <!--                                Форма авторизации-->
                            <form id="login_form" action="{% url 'customer:login' %}" style="text-align: left; margin: auto"
                                  method="post">
                                {% csrf_token %}
                                <div class="uk-margin">
                                    <div class="uk-inline">
                                        <label class="uk-form-label">E-mail</label>
                                        <input class="uk-input" type="email" name="login-username"
                                               id="id_login-username" placeholder="Логин..." style="width: 300px">
                                    </div>
                                </div>

                                <div class="uk-margin">
                                    <div class="uk-inline">
                                        <label class="uk-form-label">Пароль</label>
                                        <input class="uk-input" id="id_login-password" name="login-password"
                                               placeholder="Пароль..." style="width: 300px"
                                               type="password">
                                    </div>
                                </div>
                                <input type="hidden" name="login-redirect_url" id="id_login-redirect_url">
                                <a href="{% url 'password-reset' %}">
                                    <div class="uk-button uk-button-secondary" style="font-size: 11px">Забыли пароль?
                                    </div>
                                </a>
                                <input type="submit" class="uk-button uk-button-secondary" value="Войти"
                                       style="background-color: #3058ff; color: white" name="login_submit">
                            </form>
                            <!--                                    Конец-->
                            <hr class="">
                            <a href="/accounts/login">
                                <div class="uk-button uk-button-secondary"
                                     style="background-color: #3058ff; color: white; width: 270px">Зарегистрироваться
                                </div>
                            </a>
                            <br>
                            <br>
                            <a href="/ya/safety" style="margin-top: 15px;">
                                <div class="uk-button uk-button-secondary"
                                     style="background-color: #3058ff; color: white; width: 270px">Проверить ссылку на безопасность
                                </div>
                            </a>






                            <div id="modal-registr" uk-modal>
                                <div class="uk-modal-dialog">
                                    <div class="uk-modal-header">
                                        <h2 class="uk-modal-title">Регистрация</h2>
                                    </div>
                                    <form action="{% url 'customer:login' %}" method="post">
                                        {% csrf_token %}
                                        <div class="uk-modal-body">
                                            <div class="uk-margin">
                                                <div class="">
                                                    <label class="uk-form-label">Адрес электронной почты</label>
                                                    <div class="uk-form-controls">
                                                    <input class="uk-input" type="email" name="registration-email"
                                                            placeholder="Логин...">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="uk-margin">
                                                <div class="">
                                                    <label class="uk-form-label">Пароль</label>
                                                    <div class="uk-form-controls">
                                                    <input class="uk-input" name="registration-password1"
                                                           placeholder="Пароль..."
                                                           type="password">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-margin">
                                                <div class="">
                                                    <label class="uk-form-label">Подтвердите Пароль</label>
                                                    <div class="uk-form-controls">
                                                    <input class="uk-input" name="registration-password2"
                                                           placeholder="Пароль..."
                                                           type="password">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="registration-redirect_url" id="id_registration-redirect_url">
                                        <div class="uk-modal-footer uk-text-right">
                                            <button class="uk-button uk-button-default uk-modal-close" type="button">
                                                Отмена
                                            </button>
                                            <input type="submit" class="uk-button uk-button-primary"
                                                   value="Зарегистрироваться">
                                        </div>
                                    </form>
                                </div>
                            </div>



















                            {% endif %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<form>

</form>
<script src="https://use.fontawesome.com/850c66bc1f.js"></script>

<script src="/static/js/uikit.js"></script>
<script src="/static/js/uikit.min.js"></script>